[submodule "louvain-community"]
	path = louvain-community
	url = git@github.com:meelgroup/louvain-community.git
[submodule "cryptominisat"]
	path = cryptominisat
	url = git@github.com:meelgroup/cryptominisat-manthan.git
	branch = manthan-arm-fixes
