[submodule "louvain-community"]
	path = louvain-community
	url = https://github.com/meelgroup/louvain-community
	branch = master
[submodule "cryptominisat"]
	path = cryptominisat
	url = https://github.com/meelgroup/cryptominisat-manthan
	branch = manthan-arm-fixes
